{% extends "base.html" %}
{% block conteudo %}

<title>Página inicial</title>

<div class="container text-center mt-5"></div>    
    <h1> Site de Lista para Compras </h1>
</div>
<div class="container text-center mt-5">    
    <h3> Compras de mercado são um assunto importante para a manuntenção de uma boa vida, se tornando essenciais. Se organizar nem sempre é fácil, por isso esse site é uma ferramenta para ajudar nesse quesito.</h3> 
    <br>
    <h3>Ele cumpre as funções de: Lista de compras e de calculo de despesa. </h3>
    <br>
    <h3>A lista para se organizar e checar os itens necessários.</h3>
    <br>
    <h3>A despesa para calcular a quantia final e não extrapolar o orçamento.</h3>
</div>
{% endblock conteudo %}